*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat Alternates, sans-serif;
}

.contact__form {
  width: 50%;
  position: relative;
  float: left;
}
.contact__form h1 {
  font-size: 1.5rem;
  margin-left: 28px;
  font-weight: 500px;
}

.input__text input,
.input__tel input,
.input__email input,
.input__option option,
.input__option select {
  padding: 15px;
  width: 40%;
  margin: 5px 5px;
  border: 2px solid #ccc;
  font-size: 1.2rem;
}

.input__text input:focus,
.input__tel input:focus,
.input__email input:focus {
  border: none;
}

.input__submit {
  padding: 15px 0;
}
.input__submit input {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  background: #0098d1;
  color: #fff;
  cursor: pointer;
}
.sub__contact__form{
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
